@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

$darkBlue: #202733;
$darkGreyishBlue: #313a48;
$grayishBlue: #4f5d74;
$lightCyan: #cee3e9;
$neonGreen: #53ffaa;

body {
  margin: 0;
  padding: 0;
}
